.nav-container
  %ul.nav
    %li.nav-item.list{class: controller_name == 'parkings' && action_name == 'index' && 'active'}
      = link_to 'Liste', list_path
    %li.nav-item.map{class: controller_name == 'parkings' && action_name == 'map' && 'active'}
      = link_to 'Carte', map_path
