.top-bar
  %span.back
    = link_to root_path do
      %i.icon-home
  %span.title
    - if @parking
      = @parking.internal_name
    - else
      = t 'app.title'
  %span.info
    = link_to info_path do
      %i.icon-info
