%h4
  Prévisions dans
  = delay_label(delay)
.forecast-content
  - parking.forecast(delay) do |min, max|
    Il devrait y avoir entre
    %span.main-free= min
    et
    %span.main-free= max
    places libres.
