.hidden
  = render partial: 'info_window', collection: @parkings, as: :parking

.row-fluid
  .span8
    #map-canvas.map-container{data: {behavior: :map}}
  .span4
    .parkings
      = render @parkings



- content_for :additional_javascript do
  :javascript
    window.parkings = new App.ParkingCollection(#{@json});

