#map-canvas{style: "width: 100%; height: 600px"}

- content_for :additional_javascript do
  = google_maps_tag
  :javascript
    window.parkings = new App.ParkingCollection(#{@parkings.to_json.html_safe});
