nav
  .refresh
    display: none

.no-touch
  nav
    .refresh
      display: inherit

.navbar
  .brand
    float: none
    margin: 0
    padding: 0
    text-shadow: 0
    font-family: 'Oswald', sans-serif
    text-align: center
    font-size: 2em
    line-height: 2em
    font-weight: bold
    text-decoration: none
    // margin-top: -8px
    display: inline-block
    .logo-svg
      height: 27px
      margin: -6px 5px 0 0
  .icomoon-ellipsis-vertical, .icomoon-ellipsis-vertical:hover, .icomoon-undo, .icomoon-undo:hover
    color: white
    margin: 0
    padding: 0
    text-shadow: 0
    font-size: 2em
    line-height: 2em
    text-decoration: none
    font-weight: light
    padding: 0 20px 0 0
  & .nav > li > a
    margin: 0
    padding: 0
  .container-fluid
    margin: 0
    padding: 0

.navbar-inner
  min-height: 0
  height: auto

.navbar .nav > li > .dropdown-menu:after
  display: none

.navbar .nav > li > .dropdown-menu:before
  display: none

.dropdown-menu
  margin: 0 0 2px 0

@media screen and (max-width: 767px)
  .navbar-inner
    padding: 0 20px

  .navbar
    .brand
      font-size: 1.8em
      line-height: 1.8em
      .logo-svg
        height: 27px
        margin: -6px 5px 0 0
    .icomoon-ellipsis-vertical, .icomoon-ellipsis-vertical:hover, .icomoon-undo, .icomoon-undo:hover
      font-size: 1.8em
      line-height: 1.8em

@media screen and (max-width: 479px)

  .navbar-inner
    padding: 0 20px
  .navbar
    .brand
      font-size: 1.4em
      line-height: 1.4em
      .logo-svg
        height: 27px
        margin: -6px 5px 0 0
    .icomoon-ellipsis-vertical, .icomoon-ellipsis-vertical:hover, .icomoon-undo, .icomoon-undo:hover
      font-size: 1.6em
      line-height: 1.6em

