@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot');
	src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
		font-url('icomoon.ttf') format('truetype'),
		font-url('icomoon.woff') format('woff'),
		font-url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-arrow-down-right:before {
	content: "\e600";
}
.icomoon-arrow-up-right:before {
	content: "\e601";
}
.icomoon-arrow-right:before {
	content: "\e602";
}
.icomoon-location:before {
	content: "\e603";
}
.icomoon-location:before {
	content: "\e604";
}
.icomoon-menu:before {
	content: "\e606";
}
.icomoon-info:before {
	content: "\e607";
}
.icomoon-smiley:before {
	content: "\e608";
}
.icomoon-confused:before {
	content: "\e609";
}
.icomoon-spinner:before {
	content: "\e60a";
}
.icomoon-home:before {
	content: "\e60b";
}
.icomoon-arrow-left:before {
	content: "\e60c";
}
.icomoon-arrow-left2:before {
	content: "\e60d";
}
.icomoon-car:before {
	content: "\e605";
}
