
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-Acoeur:before, .icon-arrow-up-right:before, .icon-arrow-down-right:before, .icon-arrow-right:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-Acoeur:before {
	content: "\e000";
}
.icon-arrow-up-right:before {
	content: "\e001";
}
.icon-arrow-down-right:before {
	content: "\e002";
}
.icon-arrow-right:before {
	content: "\e003";
}
