//// Styles for parkings list page

@import "compass/css3/border-radius";

// Parkings list
.parkings {
  margin-top: 0px;
  padding-left: 0px;
}

// Parking row
.parking {
  border: none;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
  &:nth-child(even) {
    //background-color: #fff;
  }
  &:hover {
    background-color: #dbdbdb;
  }

  .progress-container {
    height: 100%;
    width: 100%;
    background-color: green;
    display: inline-block;
    border: 1px solid #efefef;
    padding: 4px;
  }

  .important {
    color: white;
    background-color: #b93c3a;
    padding: 0.1em;
  }

  .free {
    font-size: 0.5em;
  }
  .total {
    font-family: SignikaLight;
    color: #4c4c4c;
    font-size: 0.5em;
  }
  .trend {
    position: relative;
    top: 4px;
  }
}

@media (min-width: 768px) {
  .parking:first-child {
    @include border-top-left-radius(5px);
    @include border-top-right-radius(5px);
  }
  .parking:last-child {
    @include border-bottom-left-radius(5px);
    @include border-bottom-right-radius(5px);
  }
}

@media (max-width: 767px) {
  .parkings {
    margin: 0;
  }

  .parking {
    font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  .parking {
    font-size: 1.1em;
  }
}
