//// Styles for parkings map page

.map-container {
  width: 100%;
  height: 600px;
}

.parking-node {
  min-width: 160px;
  h3 {
    margin: 0
  }
}

@media (max-width: 767px) {
  .map-container {
    height: 500px;
  }
}

@media (max-width: 647px) {
  .map-container {
    height: 400px;
  }
}


@media (max-width: 480px) {
  .map-container {
    height: 300px;
  }
}
