// Main parking
.main-parking-outer, .parking {
  @include box-shadow(#555 0px 0px 10px);
}

.main-parking-outer {
  @include outer-container;
  overflow: visible;
  height: 400px;
}

.main-parking {
  @include outer-container;
  padding: 6px;
  height: 400px;
  background-color: white;

  h4 {
    border-bottom: 1px solid lightGray;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.map-link a {
  color: rgb(87,139,193);
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

.main-free {
  font-size: 1.4em;
  font-weight: bold;
}

.availability-content, .forecast-content {
  margin-bottom: 10px;
}

.forecast-disclosure {
  color: #AAA;
  font-size: 0.8em;
  font-style: italic;
}

#parking-map {
  height: 100%
}

@media (min-width: 767px) {
  .main-parking-availabilities {
    @include span-columns(6);
    height: 280px;
  }

  .main-parking-map {
    @include span-columns(6);
    height: 280px;
  }
}

@media (max-width: 767px) {
  .main-parking-outer{
    @include box-shadow(none);
  }

  .main-parking-availabilities {
    @include span-columns(12);
  }

  .main-parking-map {
    @include span-columns(12);
    height: 280px;
  }
}




