!!! 5
%html
  %head
    %title Liste des parkings de Strasbourg et leur taux de remplissage
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .content
      = yield
    =# javascript_include_tag "application"
