!!! 5
%html
  %head
    %title Liste des parkings de Strasbourg et leur taux de remplissage
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{name: "description", content: "Liste des parkings de Strasbourg et leur taux de remplissage"}
    %meta{name: "author", content: "Yann Klis"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .content
      = yield
      .footer
        %p.muted
          Données rafraîchies toutes les 5 minutes depuis les sources <a href='http://www.strasbourg.eu/fr/ma-situation/professionnel/open-data/donnees'>OpenData de la Ville de Strasbourg</a>.
          %br
          Projet réalisé par <a href='https://twitter.com/yannski'>yannski</a> durant le <a href='http://www.hacksxb.com'>HackSXB</a> spécial OpenData du mois de février 2013.
          %br
          Sur une idée originale de <a href='https://twitter.com/toutielicious'>Justine</a>.
    =# javascript_include_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38809439-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
