!!! 5
%html
  %head
    %title Liste des parkings de Strasbourg et les places disponibles
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{name: "description", content: "Liste des parkings de Strasbourg et leur taux de remplissage"}
    %meta{name: "author", content: "Yann Klis"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body{class: embedded? ? "embed" : "nonembedded"}
    .content
      = yield
      .footer
        .pull-left{style: "width: 80%;"}
          %p.muted
            Données rafraîchies toutes les 5 minutes depuis les <a href='http://www.strasbourg.eu/fr/ma-situation/professionnel/open-data/donnees'>sources OpenData de la Ville de Strasbourg</a>.
            - unless embedded?
              %br
              Projet réalisé par <a href='https://twitter.com/yannski'>yannski</a> (<a href='http://www.novelys.com'>Novelys</a>) durant le <a href='http://www.hacksxb.com'>HackSXB</a> spécial OpenData du mois de février 2013. Sur une idée originale de <a href='https://twitter.com/toutielicious'>toutielicious</a>.
        .pull-left{style: "width: 20%; max-width: 160px;"}
          = link_to image_tag("strasbourgtheeuroptimist.jpg", style: "width: 100%; max-width: 100%;"), "http://www.strasbourg.eu"
      .clearfix
    =# javascript_include_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38809439-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
