!!! 5
%html
  %head
    %title Liste des parkings de Strasbourg et les places disponibles
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{name: "description", content: "Liste des parkings de Strasbourg et leur taux de remplissage"}
    %meta{name: "author", content: "Yann Klis"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body{class: embedded? ? "embed" : "nonembedded"}
    .content
      = yield
      .footer
        .pull-left{style: embedded? ?  "width: 100%" : "width: 80%;"}
          %p.muted
            Données rafraîchies toutes les 5 minutes depuis les <a href='http://www.strasbourg.eu/fr/ma-situation/professionnel/open-data/donnees' target='_blank'>sources OpenData de la Ville de Strasbourg</a>.
            - unless embedded?
              %br
              Projet réalisé par <a href='https://twitter.com/yannski' target='_blank'>yannski</a> (<a href='http://www.novelys.com' target='_blank'>Novelys</a>) durant le <a href='http://www.hacksxb.com' target='_blank'>HackSXB</a> spécial OpenData du mois de février 2013. Sur une idée originale de <a href='https://twitter.com/toutielicious' target='_blank'>toutielicious</a>.
              %br
              %br
              Pour intégrer ces résultats dans votre site, copier/coller le code suivant :
              %br
              %textarea{style: "width: 100%;", rows: "1"}
                :escaped
                  <iframe src="http://www.parking-strasbourg.eu/embed" width="100%" height="1200px"></iframe>
        - unless embedded?
          .pull-left{style: "width: 20%; max-width: 160px;"}
            = link_to image_tag("strasbourgtheeuroptimist.jpg", style: "width: 100%; max-width: 100%;"), "http://www.strasbourg.eu"
      .clearfix
    =# javascript_include_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38809439-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
